:host {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 64px auto;
  grid-template-areas: "header header header" ". center .";
}

.header {
  grid-area: header;
  text-align: center;
}

.main {
  grid-area: center;
}
